/* Multiple Class */
.rounded-sm {
    border-radius: 5px;
}

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-1 {
    margin: 0em 1rem;
}

.my-1 {
    margin: 1rem 0rem;
}

.mt-5 {
    margin-top: 5%;
}

.mr-2 {
    margin-right: 2%;
}

.border-1 {
    border: 1px solid #DFD3C3;
}

.p-1 {
    padding: 1%;
}

.p-5 {
    padding: 5%;
}

.px-5 {
    padding-left: 5%;
    padding-right: 5%;
}

/* Global */
html {
    margin: 50px;
}

.container {
    width: 90%;
    margin-left: 5%;
}

.title {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #000000;
}
 
h1 {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

/* Index Page */
.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-sizing: content-box;
    width: 200px;
    box-shadow: 2px 0px #f0f0f0;
}

.card:hover {
    background-color: #f0f0f0;
}

.card img {
    display: block;
    width: 200px;
    height: 150px;
}

.card h1 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 0px;
}

.card p {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
}

.card a::after {
    content: '\1F822';
}

.card a:link, .card a:visited {
    font-size: 0.9rem;
    background-color: #36AE7C;
    color: white;
    padding: 3.5% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 7%;
}

.card a:hover,.card a:active {
    background-color: #279668;
  }

footer {
    padding: 20px;
    background-color: #5F7161;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a:link, footer a:visited {
    font-size: 1.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

footer a:hover, footer a:active {
    color: #dfdfdf;
}

/* Product Detail */
body.product-detail {
    background-color: #c4c4c4;
}

.content img {
    display: block;
    width: 350px;
    height: auto;
    margin: 10px auto 5px auto;
}

.content p {
    text-align: justify;
    word-spacing: 5px;
    line-height: 1.5;
}

/* List Items */

.content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.storage {
    margin: 1em;
}

.content img {
    display: block;
    width: 50px;
    height: auto;
    float: left;
}


.items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    height: 450px;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

.items::-webkit-scrollbar {
    display: none;
}

.content {
    box-sizing: content-box;
    width: 425px;
    box-shadow: 2px 0px #f0f0f0;
    height: 100%;
}

ul, li {
    list-style: none;
    width: 100%;
    height: 70px;
}

li {
    margin: 0.2rem 0 0.5rem 0;
}

.desc h1 {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: left;
    margin: 10px 0px 0px;
}

.desc p {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}